@page "/ColorCodeList"
@using ManufacturingManager.Core.Repositories
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using ManufacturingManager.Components.UI
@using ManufacturingManager.Core.Models
@using ManufacturingManager.Web.Data
@using ManufacturingManager.Web.Services
@inject IDataEntryRepository _DataEntryRepository
@inject ProtectedSessionStorage SessionStorage
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject UserLogged CurrentUser 
@rendermode InteractiveServer

<PageTitle >List of categories</PageTitle>

@attribute [Authorize(Roles = "Administrator,Coordinator")]
<div class="card border">
    <div class="card-header">
        <div class="row">
            <div class="col-6" tabindex="0">
                <h2 class="text-primary text-black" id="startContent">List of Colors</h2>
            </div>
            <div class="col-6 text-right align-middle">
                <AuthorizeView Roles="Administrator">
                    <Authorized>
                        <button class="btn btn-primary  btn-lg" @onclick="() => RedirectToEditPage(0)" title="Add Category">
                            <i class="bi-plus-circle-fill me-2"></i>Add Color
                        </button>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
    <div class="card-body">
        <LookUpTablesGrid Items="ColorCodeMatrices" TItem="ColorCodeMatrix" JqueryFileName="DatatableLookup2Col" Args="@Args" Caption="List of Color Codes">
            <Columns>
                <LookUpTablesGridColumn Label="Color">
                    <div tabindex="1">
                        @context.Color
                    </div>
                </LookUpTablesGridColumn>
                <LookUpTablesGridColumn Label="HexColorCode">
                    <div tabindex="2">
                        @context.HexColorCode
                    </div>
                </LookUpTablesGridColumn>
                <LookUpTablesGridColumn Label="PantoneColor">
                    <div tabindex="3">
                        @context.PantoneColor
                    </div>
                </LookUpTablesGridColumn>
                <LookUpTablesGridColumn Label="RALColorCode">
                    <div tabindex="4">
                        @context.RALColorCode
                    </div>
                </LookUpTablesGridColumn>
                
                <LookUpTablesGridColumn Name="" Label="Action">
                    @{
                        var id = context.ColorCodeMatrixId;
                        var color = context.Color;
                        
                        <button class="btn btn-primary mx-4" value="" @onclick="() => RedirectToEditPage(id)" title=" Edit category @context.Color" role="button" aria-pressed="false">
                            <i class="bi-pencil bi-pencil-blue"></i>
                        </button>
                        
                        <button class="btn btn-secondary text-white mx-4" value="" @onclick="() => ViewLog(id, color)" title=" View log information for category @context.Color" role="button" aria-pressed="false">
                            <i class="bi-binoculars"></i> 
                        </button> 
                        
                        <button class="btn btn-warning text-white mx-4" value="" @onclick="() => DeleteRecord(context, color)" title=" Delete category @context.Color">
                            <i class="bi-trash" style="color:orange"></i>
                        </button>
                    }
                </LookUpTablesGridColumn>
            </Columns>
        </LookUpTablesGrid>
        @if (ShowDialogOpen)
        {
            <ViewModalLogs Title="@LogTitle" TableName="lookuptableslog" LookuptableslogColumnName="Category" RecordId="@RecordId" OnClose="@OnDeleteDialogClose" Args="@ArgsView"></ViewModalLogs>
        }
    </div>
</div>