 @page "/ResolutionTypeList"
@using PCSCaseManagement.Web.Data
@inject IResolutionTypeRepository Repository
@inject ProtectedSessionStorage SessionStorage
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject UserLogged CurrentUser
@rendermode InteractiveServer
<PageTitle>List of resolution types</PageTitle>
@attribute [Authorize(Roles = "Administrator,Coordinator")]
<div class="card border">
    <div class="card-header">
        <div class="row">
            <div class="col-6" tabindex="0">
                <h2 class="text-primary" id="startContent">List of Resolution types</h2>
            </div>
            <div class="col-6 text-right align-middle">
                <AuthorizeView Roles="Administrator">
                    <Authorized>
                        <button class="btn btn-primary  btn-lg" @onclick="() => ReditectToEditPage(0)" title="Add Resolution type">
                            <i class="bi-plus-circle-fill me-2"></i>Add Resolution Type
                        </button>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
    <div class="card-body">
        <LookUpTablesGrid Items="_resolutionTypes" TItem="ResolutionType" JqueryFileName="DatatableLookup2Col" Args="@Args" Caption="List of resolution types">
            <Columns>
                <LookUpTablesGridColumn Label="Description">
                    <div tabindex="0">
                        @context.Description
                    </div>
                </LookUpTablesGridColumn>
                <LookUpTablesGridColumn Label="Default text for Question/Issue Resolution field">
                    <div tabindex="0">
                        @context.DefaultResolution
                    </div>
                </LookUpTablesGridColumn>
                <LookUpTablesGridColumn Name="Active" Label="Active">
                    <div class="text-center" tabindex="0">
                        @if (context.Active)
                        {
                            <i class="bi bi-check-circle-fill" role="img" aria-label="Active" Title="Active" style="font-size: 1.5rem; color: green;"></i>
                        }
                        else
                        {
                            <i class="bi bi-x-circle-fill" role="img" aria-label="Inactive" Title="Inactive" style="font-size: 1.5rem; color: red;"></i>
                        }
                    </div>
                </LookUpTablesGridColumn>
                <LookUpTablesGridColumn Label="# Times Used">
                    <div tabindex="0">
                        @context.TimesUsed
                    </div>
                </LookUpTablesGridColumn>
                <LookUpTablesGridColumn Name="" Label="Action">
                    @{
                        var id = context.ResolutionTypeId;
                        var desc = context.Description;
                        if (CurrentUser.Role == "Administrator")
                        {
                            <button class="btn btn-success mx-4" value="" @onclick="() => ReditectToEditPage(id)" title=" Edit resolution type @context.Description" role="button" aria-pressed="false">
                                <i class="bi-pencil"></i>
                            </button>
                        }
                        <button class="btn btn-secondary text-white mx-4" value="" @onclick="() => ViewLog(id, desc)" title=" View log information for resolution type @context.Description" role="button" aria-pressed="false">
                            <i class="bi-binoculars"></i>
                        </button>

                        if (context.TimesUsed == 0 && CurrentUser.Role == "Administrator")
                        {

                            <button class="btn btn-danger text-white mx-4" value="" @onclick="() => DeleteRecord(id, desc)" title=" Delete resolution type @context.Description">
                                <i class="bi-trash"></i>
                            </button>

                        }

                    }

                </LookUpTablesGridColumn>

            </Columns>

        </LookUpTablesGrid>
        @if (ShowDialogOpen)
        {
            <ViewModalLogs Title="@LogTitle" TableName="lookuptableslog" LookuptableslogColumnName="ResolutionType" RecordId="@RecordId" OnClose="@OnDeleteDialogClose" Args="@ArgsView"></ViewModalLogs>
        }
    </div>
</div>


